@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
  background: linear-gradient(135deg, #101010, #303030);
  color: #fdfdfd;
  font-family: Silkscreen, sans-serif;
  overflow: hidden;
  height: 100vh;
  font-size: 125%;
}

button {
  font-family: Silkscreen, sans-serif;
  background: linear-gradient(135deg, #101010, #303030);
  color: #fdfdfd;
  padding: 10px;
  border-radius: 10px;
  border: 1px outset #fdfdfd;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, background 0.5s;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.3);
  font-size: 100%;
  position: relative;
  text-shadow: 0-1px #333;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(255, 255, 2556, 0.5);
  background: linear-gradient(35deg, #101010, #303030);
  animation: gloweffect 5s infinite;
}

#container, #info {
  width: 700px;
  height: 600px;
  margin: 10px;
  background-color: blue;
  border: 10px solid orange;
  border-radius: 20px;
  text-align: center;
}

#info {
  height: 100px;
}
      
#image {
  height: 88%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
img {
  margin-top: 10px;
  height: auto;
  max-width: 650px;
  animation: gloweffect 2s infinite;
}
@keyframes gloweffect {
  0%, 100% {filter: drop-shadow(0 0 0.35rem rgb(0 174 255));}
  25% {filter: drop-shadow(0 0 0.65rem rgb(0 255 4));}
  50% {filter: drop-shadow(0 0 0.85rem rgb(255 0 0));}
}
#name {
  position: absolute;
  z-index: 99999;
  font-size: 60pt;
  filter: drop-shadow(0 0 0.90rem rgb(0 0 0));
  left: 25%;
  bottom: 10%;
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 3px black;
}

#yuji, #panda, #nanami, #mai, #megumi, #kugisaki {
  background-image: linear-gradient(blue white);
}
#jogo {
  background-image: linear-gradient(red white);
}
@keyframes gloweffect {
  0%, 100% {filter: drop-shadow(0 0 0.35rem rgb(0 174 255));}
  25% {filter: drop-shadow(());}
  50% {filter: drop-shadow(());}
}
